<p style="font-size: 0.7rem; font-weight: bolder;">
本文链接: <a href="{{ page.url | absolute_url }}">{{ page.url | absolute_url }}</a>

{% if page.pdf %}
<br/>
下载pdf: <a href="{{ page.id | prepend: "publish/pdf" | absolute_url }}.pdf">{{ page.title }}.pdf</a>
{% endif %}
</p>
<ul class="page-links" style="display:none;">

{% if page.pdf %}
<li style="font-size:0.7em">
[下载{{ page.title }}.pdf]: {{ page.id | prepend: "publish/pdf" | absolute_url }}.pdf
</li>
{% endif %}

{% for ref in page.refs %}
    {% for link in ref %}
        <li style="font-size:0.7em">
        [{{ link[0] }}]: {{ link[1] | split: " " | first }}
        </li>
    {% endfor %}
{%endfor%}
</ul>
<p>
<img src="/assets/images/qrcode-text.png" alt="openacid">
</p>
